.ItemCard {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  align-items: center;
  height: 30px;
  width: 320px;
  padding: 0px;
  margin-top: 5px;
  padding-left: 10px;
  background-color: #393e46;
}
